/* 基础样式 */
html,body {
  width:100%;
  height: 100%;
  background: #222;
}
.content{
  width: 100%;
  height: 100%;
}
/* stage -- start */
.stage{
  position: relative;
  width: 100%;
  height: 100%;
}
/* stage -- end */
/* image -- start*/
.img-sec{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #ddd;
  @at-root{
    .img-figure{
    width:320px;
    height: 360px;
    margin:0;
    padding:40px;
    background-color: #fff;
    box-sizing: border-box;
      img{width:240px;height:240px;}
    }
    figcaption{
      text-align: center;
      .img-title{
        margin:20px 0 0 0;
        color: #a7a0a2;
        font-size:16px;
      }
    }
  }
}
/* image -- end*/
/* control-nav -- start*/
.control-nav{
  position:absolute;
  left: 0;
  bottom: 30px;
  z-index: 101;
  width: 100%;
  text-align:center;
}
/* control-nav --end*/
